@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");

.bg-image {
  background-image: url("/images/MacBook-Pro-39.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: fill;
}

.bg-3 {
  background-image: url("/images/bg-3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.client-slider .swiper-button-next,
.client-slider .swiper-button-prev {
  background-color: #877bfb87;
  padding: 25px;
  border-radius: 100%;
  position: absolute;
  top: 50px;
}

.client-slider .swiper-button-next:hover,
.client-slider .swiper-button-prev:hover {
  background-color: #877bfb;
  transition: all 300ms;
}

.client-slider .swiper-button-prev {
  left: auto;
  right: 100px;
}

.client-slider .swiper-button-next::after,
.client-slider .swiper-button-prev::after {
  color: white;
  font-size: 1.2rem;
  font-weight: 900;
}

.client-slider .swiper-pagination {
  margin-bottom: 35px;
  text-align: left;
}
.client-slider .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 16px;
  height: 16px;
}
.client-slider .swiper-pagination-bullet-active {
  background-color: white;
}

.services-slider .swiper-button-next,
.services-slider .swiper-button-prev {
  background-color: #877bfb;
  padding: 0 22px;
  border-radius: 100%;
}

.services-slider .swiper-button-next::after,
.services-slider .swiper-button-prev::after {
  color: white;
  font-size: 1.2rem;
  font-weight: 900;
}
